<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question Page</title>
</head>
<body>
    <form action="http://localhost:5000/answer" method="POST">
        <p>
            여기에 분석할 문서를 입력<br>
            <textarea rows="10" cols="50" name="context"></textarea>
        </p>
        <p>
            여기에 질문 입력<br>
            <textarea rows="2" cols="50" name="question"></textarea>
        </p>
        <p>
            <input type="submit" value="물어보기">
        </p>
    </form>
</body>
</html>